<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <title>ResTo You</title>
</head>
<body>
<a href="#maincontent" class="skip-link">Skip To Content</a>
<!--NavBar-->
<div id="appBar" class="app-bar">
<h1>ResTo You</h1>
<a id="menu" class="header__menu">☰</a>
<nav id="drawer">
<ul>
  <li><a href="#home">HOME</a></li>
  <li><a href="#">FAVORITE</a></li>
  <li><a href="#about">ABOUT US</a></li>
</ul></nav>
</div>
<!--Hero Element-->
<main id="maincontent">
<section class="hero">
  <img src="images/heros/hero-image_2.jpg" alt="Restaurant">
<div class="container">
  <h3><span>Recomendation Restaurants For You</h3></span>
  <button aria-label="Check Favorite Restaurant" href="#list">Check it here!</button>
</div>
</div>
</section>
<!--Restaurant List-->
<div id="list">
  <h2><b>Restaurant List</b></h2></div>
  <div class="list-restaurant">
  <div class="card-item"></div>
</div>
<!--About-->
<section>
<div id="about">
  <h2 style="margin-bottom:64px">About</h2>
  <p>ResTo You recommends a list of the best restaurants owned by Chef Bernika in various locations<br><strong>FYI!</strong> We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste.</p>
  <p><a class="social-media" href="https://wa.me/message/CZYAY3GB66YRM1"> WhatsApp</a></p>
  <p><a class="social-media" href="https://www.instagram.com/bernika_iffada/"> Instagram</a></p>
  <p><a class="social-media" href="http://www.linkedin.com/in/bernika-irnadianis-iffada-b6585a221"> LinkedIn</a></p>
  </div>
</section>
</main>
<footer class="ftr">
  <p>Copyright © ResTo You 2023</p>
</footer>
<!--<script src="src/scripts/index.js"></script> -->
</body>
</html>
