  @media screen and (min-width: 700px) {
    .list-restaurant {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 16px;
    }
  }
/*GRID LAYOUT*/
.list-restaurant {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }
.card-item div{
  border: 1px dashed white;
  border-radius: 2px;
  background-color: rgba(228, 122, 171, 0.8); ;
}

#drawer {
  width: 250px;
  height: 100%;
  position: absolute;
  /* menyembunyikan #drawer -250px (sesuai dengan ukuran lebar drawer) ke kiri */
  transform: translate(-250px, 0);
  transition: transform 0.3s ease-in-out;
  background-color: rgba(231, 44, 131, 0.8)
}

#drawer.open {
  transform: translate(0,0)
}

main {
  padding: 16px;
}
 
#drawer ul {
  list-style-type: none;
  padding: 0 16px;
}
 
#drawer li {
  padding: 5px 0px;
}
 
#drawer a {
  text-decoration: none;
  font-size: 25px;
  color: white;
}
 
#hamburger {
  font-size: 32px;
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 300px auto;
  }
 
  #drawer {
    position: relative;
    transform: translate(0, 0);
  }
 
  #hamburger {
    display: none;
  }
}